name: Sync to Hugging Face Space
on:
  push: 
    branches: [main]

    # TO run this workflow we can have this job where we will specify the details:

jobs:
  sync_to_hub:
     runs_on: ubuntu-latest
     steps:
      - uses: actions/checkout@v3 # This is going to fetch all the latest libraries needed to run github action
       with:
        fetch-depth: 0
        lfs: false

      - name: Push to Space
        env:
         HF_TOKEN: ${{ secrets.HF_TOKEN }} # This represents the config from huggingface side like id, pwd, project etc
        run: git push --force https://ShubhashishMishra:$HF_TOKEN@huggingface.co/spaces/ShubhashishMishra/SimpleAgenticAIChatBot main

# This will run the deployment